.posts {
    &__header {
        border-radius: 5px 5px 0 0;
        display: flex;
        justify-content: space-between;
    }
    &__title {}
    &__search {
        display: flex;
        justify-content: flex-end;
    }
    &__body {}
}