.todo {
    &__item {}
    &__number {}
    &__name {}
    &__title {}
    &__list {}
}

.completed {}

.todos {
    &__button {}
}

.home {
    &__inner {}
    &__title {
        margin-bottom: 20px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: auto auto auto;
        gap: 0px 20px;
        grid-template-areas: "person-details ." "person-details ." "person-details .";
    }
    &__person {
        grid-area: person-details;
        height: fit-content;
    }
    &__name {
        font-size: 32px;
        line-height: 140%;
        font-weight: 600;
        margin-bottom: 10px;
    }
    &__img {
        flex: 100% 0 1;
        max-width: 100%;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    &__details {
        padding: 10px 0;
    }
    &__subtitle {
        // font-size: 24px;
        margin-bottom: 10px;
        position: relative;
        z-index: 2;
        background-color: #fff;
        &:before {}
        &:after {
            content: "";
            width: 60%;
            display: block;
            height: 1px;
            background-color: #b2b2b2;
            position: absolute;
            top: 50%;
            left: calc(40%);
            z-index: -1;
        }
    }
    &__table {
        width: 100%;
        &:not(:nth-last-child(2)) {
            margin-bottom: 10px;
        }
        tr {
            display: flex;
            margin-bottom: 15px;
            font-size: 18px;
            line-height: 140%;
        }
    }
    &__prop {
        flex: 40% 0 1;
        max-width: 40%;
        color: #b2b2b2;
    }
    &__value {
        flex: 60% 0 1;
        max-width: 60%;
        color: black;
        display: flex;
        flex-direction: column;
        >* {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    &__link {
        display: flex;
        justify-content: flex-end;
    }
    // &__left {
    //     padding: 0 0 20px 20px;
    //     flex: 65% 0 1;
    //     max-width: 65%;
    // }
    &__todo {}
}

.container {}

.title {}

@media (max-width: 991.98px) {
    .home__name {
        font-size: 24px;
    }
    .home__table tr {
        font-size: 16px;
    }
    .home__table:not(:nth-last-child(2)) {
        margin-bottom: 0;
    }
    .home__value>*:not(:last-child) {
        margin-bottom: 0;
    }
    .home__table tr {
        margin-bottom: 10px;
    }
    .home__details {
        padding-bottom: 0;
    }
    .home__wrapper {
        display: flex;
        flex-direction: column;
    }
    .home__prop {
        flex: 30% 0 1;
    }
    .home__value {
        flex: 70% 0 1;
    }
    .home__subtitle:after {
        width: 80%;
        left: 20%;
    }
    .home__person {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .home__prop {
        flex: 40% 0 1;
    }
    .home__value {
        flex: 60% 0 1;
    }
}