.search {
    &__body {}
    &__row {
        float: left;
        width: calc(100% - 240px);
    }
    &__panel {
        float: right;
        width: 220px;
        position: sticky;
        top: 15px;
    }
    &__result {
        float: left;
        margin-top: 15px;
        margin-bottom: 20px;
        width: calc(100% - 240px);
    }
}