.header {
    background-color: #00a6a4;
    z-index: 100;
    position: relative;
    &__inner {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        // margin-right: auto;
        align-items: center;
        color: white;
        p {
            font-size: 24px;
            padding-left: 15px;
        }
    }
}

.logo {
    display: block;
    width: 50px;
    height: 50px;
    svg {
        width: 100%;
        height: auto;
        display: block;
        fill: #ff9331
    }
}

@media (max-width: 991px) {
    .header__logo {
        margin-right: auto;
    }
}

@media (max-width: 540px) {
    .header__logo p {
        font-size: 20px;
    }
}