.footer {
    margin-top: auto;
    background-color: #006C6C;
    color: white;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100px;
        padding: 20px 0;
    }
    &__logo {
        display: flex;
        align-items: center;
        p {
            font-size: 24px;
            padding-left: 15px;
        }
    }
    &__contacts {
        display: flex;
        align-items: center;
    }
    &__text {
        font-size: 18px;
        margin-right: 20px;
    }
    &__item {
        border-radius: 50%;
        background-color: #fff;
        width: 40px;
        height: 40px;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            font-size: 35px;
            width: 25px;
            height: 25px;
        }
        &--telegram {
            color: #5682a3;
        }
        &--inst {}
        &--github {
            color: black;
        }
    }
    &__item-img {}
}

@media (max-width: 768px) {
    .footer__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__logo p {
        font-size: 20px;
        padding-left: 10px;
    }
}